package root

templ App(main templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://unpkg.com/htmx.org@2.0.2"></script>
			<link rel="stylesheet" href="/css/app.css"/>
			<title>Agents Admin Panel</title>
		</head>
		<body>
			@main
		</body>
	</html>
}
